[submodule ".vim/kissvim"]
	path = .vim/kissvim
	url = https://github.com/arebaka/kissvim.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".vim/.vim-plug"]
	path = .vim/.vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug
