/*

!/.profile
!/.bashrc
!/.bash_profile
!/.bash_login
!/.bash_logout

!/.zshrc
!/.zprofile
!/.zlogin
!/.zlogout
!/.zshenv
!/.zsh/

!/.editorconfig
!/.tmux.conf
!/.lesskey

!/.vimrc
!/.vim
/.vim/.netrwhist

!/.style
!/.script

!/.config
/.config/*

!/.config/user-dirs.dirs
!/.config/user-dirs.locale

!/.xinitrc
!/.xinputrc
!/.xprofile
!/.Xresources
!/.Xmodmap

!/.config/bspwm
!/.config/sxhkd
!/.config/hypr

!/.config/gtk-2.0
!/.config/gtk-3.0
!/.config/gtk-4.0
!/.config/dconf

!/.config/bat
!/.config/htop
!/.config/btop
/.config/btop/btop.log
!/.config/neofetch
!/.config/tmux

!/.config/waybar
!/.config/dunst
!/.config/mako
!/.config/kitty
!/.config/rofi
