[user]
	email = me@are.moe
	name = arelive
[core]
	editor = vim
	pager = less
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	ff = only
