/*

!/.profile
!/.bashrc
!/.bash_profile
!/.bash_login
!/.bash_logout

!/.zshrc
!/.zprofile
!/.zlogin
!/.zlogout
!/.zshenv
!/.zsh/

!/.editorconfig
!/.tmux.conf

!/.vimrc
!/.vim
/.vim/.netrwhist

!/.style
!/.script

!/.config
/.config/*

!/.config/user-dirs.dirs
!/.config/user-dirs.locale

!/.config/bspwm
!/.config/sxhkd
!/.config/hypr

!/.gtkrc-2.0
!/.config/gtk-3.0
!/.config/gtk-4.0

!/.config/bat
!/.config/htop
!/.config/btop
/.config/btop/btop.log
!/.config/neofetch
!/.config/waybar
!/.config/kitty
!/.config/rofi
