@import url('../../.style/colors.css');

* {
	margin: 0;
	padding: 0;
	background: none 0 0 no-repeat;
	border: none;
	text-shadow: none;
	box-shadow: none;
	font-family: JetBrainsMono Nerd Font, monospace;
	font-size: 12px;
}

window#waybar {
	background: @transparent;
	color: @text-color;
}

tooltip {
	background: @bg-color;
	border: 1px solid @fg-color;
	border-radius: 5px;
}

tooltip {
	color: @text-color;
}

.module {
	margin-top: 10px;
	background: @bg-color;
}

label.module {
	padding: 0 7px;
	min-width: 24px;
	min-height: 30px;
}

label.module:hover {
	background: @accent-bg-color;
	border-color: @accent-fg-color;
}

#image,
#user image {
	border-radius: 50%;
}

#user:hover,
#custom-username:hover {
	color: @accent-fg-color;
	background-color: @accent-bg-color;
	border-color: @accent-fg-color;
}

#user label,
#custom-username {
	padding: 0 10px;
	font-weight: bold;
}

#workspaces {
	margin-right: 10px;
	background: none;
}

#workspaces button {
	padding: 0 7px;
	border-top: 1px solid @fg-color;
	border-bottom: 1px solid @fg-color;
	border-radius: 0;
	color: @text-color;
	background: @bg-color;
}

#workspaces button:first-child {
	border-left: 1px solid @fg-color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#workspaces button:last-child {
	border-right: 1px solid @fg-color;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#workspaces button.active {
	color: @fg-color;
}

#workspaces button:hover {
	background-color: @accent-bg-color;
	border-color: @accent-fg-color;
}

#session {
	margin: 10px 10px 0 10px;
	min-height: 30px;
}

#session .module {
	margin: 0;
	border-top: 1px solid @fg-color;
	border-bottom: 1px solid @fg-color;
}

#custom-poweroff {
	border: 1px solid @fg-color;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#custom-hibernate {
	border-right: 1px solid @fg-color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#session .module:hover {
	border-color: @accent-fg-color;
}

#custom-poweroff,
#custom-reboot {
	color: @alert-color;
}

#custom-lock,
#custom-suspend {
	color: @warning-color;
}

#custom-logout,
#custom-hibernate {
	color: @success-color;
}

#custom-distro {
	font-size: 24px;
}

#tray {
	margin-right: 10px;
}

#tray menu {
	padding: 5px 0;
	background: @bg-color;
	border: 1px solid @fg-color;
	border-radius: 5px;
}

#tray menu label {
	font-family: Roboto, sans-serif, monospace;
	color: @text-color;
}

#tray menu label:hover {
	color: @accent-fg-color;
	background: @accent-bg-color;
}

#tray > .active,
#tray > .passive {
	border-top: 1px solid @fg-color;
	border-bottom: 1px solid @fg-color;
	color: @text-color;
}

#tray > .active:first-child,
#tray > .passive:first-child {
	border-left: 1px solid @fg-color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#tray > .active:last-child,
#tray > .passive:last-child {
	border-right: 1px solid @fg-color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#tray > .active:hover,
#tray > .passive:hover {
	background: @accent-bg-color;
	border-color: @accent-fg-color;
}

#tray image {
	padding: 0 7px;
}

#window {
	background: transparent;
}

#window label {
	font-family: Roboto, sans-serif, monospace;
	font-size: 11px;
}

#language {
	margin-right: 10px;
	border: 1px solid @fg-color;
	border-radius: 5px;
}

#language:hover {
	border-color: @accent-fg-color;
}

#clock {
	margin-right: 5px;
	border: 1px solid @fg-color;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#clock:hover {
	border-color: @accent-fg-color;
}

.modules-right label.module {
	border-top: 1px solid @fg-color;
	border-bottom: 1px solid @fg-color;
}

.modules-right label.module:hover {
	border-color: @accent-fg-color;
}

#mpris {
	font-family: Roboto, sans-serif, monospace;
	font-size: 11px;
	background: transparent;
	border: none;
}

#custom-weather {
	margin-left: 5px;
	border: 1px solid @fg-color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#custom-weather:hover {
	border-color: @accent-fg-color;
}

#tray > .needs-attention {
	border-color: @alert-color;
}

#privacy {
	background-color: @alert-color;
}

#battery.good,
#battery.charging {
	color: @success-color;
}

#battery.low {
	color: @warning-color;
}

#battery.critical {
	color: @alert-color;
}

#battery.charging {
	color: @success-color;
}

#memory.good {
	color: @success-color;
}

#memory.high {
	color: @warning-color;
}

#memory.critical {
	color: @alert-color;
}

#cpu.good {
	color: @success-color;
}

#cpu.high {
	color: @warning-color;
}

#cpu.critical {
	color: @alert-color;
}

#temperature {
	color: @success-color;
}

#temperature.critical {
	color: @alert-color;
}

#disk.good {
	color: @success-color;
}

#disk.high {
	color: @warning-color;
}

#disk.critical {
	color: @alert-color;
}

#pulseaudio {
	border-left: 1px solid @fg-color;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#network {
	border-right: 1px solid @fg-color;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#custom-notifications {
	margin: 10px 10px 0 10px;
	border: 1px solid @fg-color;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#custom-pacman {
	margin: 10px 0 0 10px;
	border: 1px solid @fg-color;
	border-radius: 5px;
}
